AIRFLOW_UID=50000

# Andmebaas
POSTGRES_USER=bensiin
POSTGRES_PASSWORD=bensiinikanister
POSTGRES_DB=bensiin

# Airflow
AIRFLOW_USER=nafta
AIRFLOW_PASSWORD=naftakunn
AIRFLOW_DB=nafta

# Airflow JWT
AIRFLOW__API_AUTH__JWT_SECRET=kutuse_jwt_secret_2024
AIRFLOW__API_AUTH__JWT_ISSUER=kutuse_projekt

# Superset

SUPERSET_ADMIN_USER=admin
SUPERSET_ADMIN_PASSWORD=admin
SUPERSET_ADMIN_EMAIL=admin@example.com
SUPERSET_SECRET_KEY=kutuse_superset_secret_2024



