AIRFLOW_UID=50000

# Andmebaas
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Airflow
AIRFLOW_USER=
AIRFLOW_PASSWORD=
AIRFLOW_DB=

# Airflow JWT
AIRFLOW__API_AUTH__JWT_SECRET=
AIRFLOW__API_AUTH__JWT_ISSUER=

# Superset
SUPERSET_SECRET_KEY= salasona
SUPERSET_ADMIN_USER= admin
SUPERSET_ADMIN_PASSWORD= admin
SUPERSET_ADMIN_EMAIL= admin@example.com
